.todo_list {
  width: 700px;
  margin: 50px auto;
  margin-top: 1em;

  input {
    line-height: 32px;
    padding: 0 5px;
    width: 100%;
    font-size: 21px;
    border-radius: 3px;
    border: 1px solid grey;
    box-sizing: border-box;
    text-align:center;
  }
  ul {
    padding-left: 20px;
    font-size: 21px;
  }
  li {
    list-style-image: url('images/Todo-list-arrow-right.png');
  }
  a {
    color: #dd1144;
    text-decoration: none;
    transition: .25s;
    &:hover {
      color: cornflowerblue;
      padding-left: 5px;
    }
  }
  
  .todoLabel {
		position: relative;
		display: inline-block;
		margin-right: 20px;
		border-radius: 3px;
		color: #ffffff;
		background: #6FB3D2;
		padding: 2px 7px 2px 5px;
		
		.todoLabelDelete{
			cursor: pointer;
			cursor: hand;
			background: none repeat scroll 0 0 #F75E3E;
			border-radius: 50%;
			color: #fff;
			font-size: 0.6em;
			font-weight: bold;
			padding: 0px 4px 1px 4px;
			position:absolute;
			top: -0.6em;
			text-align:center;
			vertical-align:center;
		}
		
  }
  
  
  .button-circle{
		cursor: pointer;
		cursor: hand;
		background: none repeat scroll 0 0 #6CBB53;
		border-radius: 50%;
		color: #fff;
		font-size: 1em;
		font-weight: bold;
		padding: 1px 4px 1px 3px;
		width:4em;
		position:relative;
		text-align:center;
	}
  
}